<!-- -->
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <strong>Missing People</strong> Home
    </ion-title>
    <ion-buttons end>
      <button ion-button tappable (click)="presentNotifications($event)">
        <ion-icon name="notifications"></ion-icon>
      </button>
      <button ion-button tappable (click)="goToAccount()">
        <ion-icon name="cog"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="animated fadeIn common-bg">
  
    <ion-spinner name="crescent" *ngIf="loading" class="el-align-center"></ion-spinner>

    <ion-card *ngFor="let report of reports" (click)="gotoComment(report)">

        <ion-item>
          <ion-avatar item-start>
          <img [src]="sanitize(report.userImage)"  onerror="this.src='assets/img/avatar.png'"> 
           
          </ion-avatar>
          {{report.caption}}
          <h2>{{report.username}}</h2>
          <p>   {{report.postTitle}}</p>
        </ion-item>
      
        <img [src]="sanitize(report.postImage)" onerror="this.src='assets/img/avatar.png'"> 
      
        <ion-card-content>
          <p>{{report.content}}</p>
        </ion-card-content>
      
        <ion-row>
        
          <ion-col>
            <button ion-button icon-start clear small >
              <ion-icon name="text"></ion-icon>
              <div>{{report.comment}}</div>
            </button>
          </ion-col>
          <ion-col align-self-center text-center>
            <ion-note>
              {{report.date | amTimeAgo}} 
            </ion-note>
          </ion-col>
        </ion-row>
      
      </ion-card>

   <!-- fab placed to the bottom end -->
   <ion-fab bottom right>
      <button ion-fab color="danger" (click)="postMissing()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-fab>

  
</ion-content>
